* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

.panel {
  margin: 20px;
}

.panel-left,
.panel-right {
  display: inline-block;
  width: 45%;
  margin: auto;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.panel h3 {
  text-align: center;
}

.select {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

.paper,
.stone,
.scissors {
  display: inline-block;
  border: brown 1px solid;
  width: 75px;
  margin-bottom: 40px;
  cursor: pointer;
}

button {
  margin: auto;
  display: block;
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: aquamarine;
  transform: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: cornflowerblue;
  color: blanchedalmond;
}
