button {
  display: block;
  margin: 10px auto;
}

div {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: blueviolet;
  float: left;
  text-align: center;
  line-height: 30px;
}

.circle {
  background-color: chartreuse;
  border-radius: 50%;
  border: 2px solid red;
}
